* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
    display: grid;
}


@media only screen and (min-width: 300px) {
    aside img {
        min-width: 100%;
        margin: auto;
    }

    body {
        background-color: hsl(7, 176%, 97%);
    }

    aside {
        background-image: url(images/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 5%;
        height: 48vh;
        width: 100vw;
    }

    label.msg {
        text-align: left;
        display: block;
        width: 58%;
        margin: auto;
        font-size: small;
        color: red;
    }

    header img {
        margin-top: 5%;
        margin-left: 10%;
    }

    span {
        font-weight: 300;
        opacity: 0.4;
        color: hsl(0, 36%, 70%);
    }

    h1 {
        width: 45%;
        text-align: center;
        margin: 10% auto;
        letter-spacing: 9px;
        text-transform: uppercase;
    }



    input[type="email"].invalid {
        border: 1px solid red;
        background-image: url("images/icon-error.svg");
        background-repeat: no-repeat;
        background-position: 75% 25%;

    }

    main {
        /*background-color: hsl(0, 36%, 70%);
         margin-top: 10%;
        */
        background-color: hsl(7, 176%, 97%);
    }

    footer {
        margin: auto;
        background-color: hsl(7, 176%, 97%);
    }

    p {
        text-align: center;
        font-weight: 300;
        font-size: small;
        line-height: 1.5em;
        margin: 0 5%;
        color: hsl(0, 6%, 24%);
    }

    input[type="email"]:active,
    input[type="email"]:focus {
        height: 7vh;
    }

    input[type="email"] {
        width: 80%;
        display: block;
        height: 7vh;
        margin: 5% auto 1%;
        border-radius: 35px;
        border: none;
        padding-left: 5%;
        background-color: hsl(7, 176%, 97%);
        /* background-image: url("images/icon-arrow.svg"),
        radial-gradient(hsl(0, 36%, 70%), hsl(0, 93%, 68%));
        background-size: 5%,  15% 100%;
        background-repeat: no-repeat;
        background-position: 95% center, 100%; */
        border: 1px solid hsl(0, 4%, 87%);
    }

    input[type="submit"] {
        position: absolute;
        height: 8vh;
        left: 74%;
        top: -5%;
        width: 17%;
        border-radius: 30px;
        background-image: url("images/icon-arrow.svg"),
            linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
        background-size: 25%,
            100% 100%;
        background-repeat: no-repeat;
        background-position: 70% center,
            100%;
    }

    input[type="submit"]:hover {
        background: hsl(10, 80%, 86%);
        background-image: url(images/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position: 70% center,
            100%;
        background-size: 25%,
            100% 100%;
        cursor: pointer;
    }

    form.emailForm {
        position: relative;
    }

    section.comingSoon {
        height: 60vh;
        width: 100vw;
    }

    .styled {
        animation-timing-function: ease-in-out;
        animation-name: headShake;
        animation-duration: 1s;
    }

    @keyframes headShake {
        0% {
            transform: translateX(0);
        }

        6.5% {
            transform: translateX(-6px) rotateY(-9deg);
        }

        18.5% {
            transform: translateX(5px) rotateY(7deg);
        }

        31.5% {
            transform: translateX(-3px) rotateY(-5deg);
        }

        43.5% {
            transform: translateX(2px) rotateY(3deg);
        }

        50% {
            transform: translateX(0);
        }
    }

}


@media only screen and (min-width: 720px) {
    body {
        background-image: url("images/bg-pattern-desktop.svg");
        background-size: cover;
    }

    header {
        width: 50vw;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    section.comingSoon {
        width: 50vw;
    }

    input[type="email"] {
        width: 60%;
    }

    aside {
        width: 50vw;
        grid-column: 2/3;
        grid-row: 1/3;
        background-image: url("images/hero-desktop.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 0;
        height: 100vh;
    }

    main {
        width: 50vw;
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: transparent;
    }

    aside img {
        margin-top: 0%;
        height: 95%;
    }

    p {
        width: 55%;
        margin: auto;
        text-align: left;
    }

    h1 {
        width: 40%;
        text-align: left;
        margin-left: 20%;
        letter-spacing: 18px;
        line-height: 1.2;
        font-size: xx-large;
    }

    header img {
        margin-top: 8%;
        margin-left: 20%;
    }

}